:root {
  font-size: 17px;
}

.capsule-card-container {
  width: 20vw;
  border: 2px solid red;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.capsule-card-container > hr{
  border: none;
  border-top: 3px solid #FF922F;
}

.card-head,
.card-middle,
.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-head > img {
  width: 30%;
  border-radius: 50%;
}

.capsule-card-head-content > h2 {
  color: #5d737e;
  font-size: 1.3rem;
}

.capsule-card-middle-dates,
.card-bottom > p {
  color: #000000;
}

.card-bottom > button {
  padding: 0.6rem 1.3rem;
  color: white;
  background-color: #5d737e;
  border-radius: 10px;
  border: 2px solid #5d737e;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.card-bottom > button:hover{
  color: #5d737e;
  background-color: #FF922F;
  border: 2px solid #FF922F;
}

.card-middle-tags {
  font-size: 0.8rem;
  color: #788faa;
}


@media (max-width: 1440px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
  .capsule-card-container {
  width: 30vw;
  border: 2px solid red;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}


@media (max-width: 700px) {
    .capsule-card-container {
  width: 50vw;
  border: 2px solid red;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
}
