  .login-body{

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .login-body > h1 {
    margin-bottom: 2rem;
    color: #5d737e;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
    margin-bottom: 0.5rem;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .form-item > label {
    color: #5d737e;
    font-weight: bold;
  }
  .input > input {
    padding: 0.3rem;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
  }

  .input > input:focus {
    border-bottom: 1px solid #5d737e;
  }

  .not-member {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  .sign {
    cursor: pointer;
  }
  .sign:hover {
    color: #5d737e;
    cursor: pointer;
  }

  .login-form > button {
    padding: 0.5rem;
    background-color: #5d737e;
    border: 1px solid #5d737e;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all ease-in-out 0.5s;
  }
  .login-form > button:hover {
    background-color: #FF922F;
    border: 1px solid #FF922F;
    color: white;
  }
  .input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .icon {
    font-size: 17px;
    color: #2f2e2eff;
  }

 


  @media (max-width: 768px) {


  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
    margin-bottom: 0.5rem;
  }


  .not-member {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  }