*{
    padding: 0;
    margin: 0;
}

:root{
    font-size: 16px;
    scroll-behavior: smooth;
}

/* hero section */
.hero{
    background-image: url('../../assets/images/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85dvh;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    padding-left: 5rem;

    color: #5D737E;
}

.hero > p{
    color: #2e2e2e;
    max-width: 50%;
}

.home-hero-links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero-btn{
    text-decoration: none;
    background-color: #5D737E;
    padding: 0.3rem 1rem;
    color: white;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}
.hero-btn:hover{
    background-color: #D9A678;
    color: #5D737E;
}

.hero-about-btn{
    color: #5D737E;
    background-color: transparent;
    border: 2px solid #5D737E;
}
.hero-about-btn:hover{
    color: #5D737E;
    background-color: #D9A678;
    border: 2px solid #D9A678;
}


/* home sections */
.home-sections{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin: 3rem 5rem;
}
.home-sections > img{
    width: 50vw;
    height: 75vh;
}

.home-sections-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width:35vw;
    gap: 3rem;
}

.home-sections-head > p{
    color: #D9A678;
}

.home-sections-head > h1{
    color: #5D737E;
}



@media (max-width: 1200px) {
:root{
    font-size: 14px;
}

/* home sections */
.home-sections{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 5rem;
}
.reverse{
    flex-direction: column;
}
.home-sections > img{
    width: 80vw;
    height: 80vh;
}

.home-sections-content{
    max-width:80vw;
    gap: 2rem;
}
}


@media (max-width: 768px) {
:root{
    font-size: 12px;
}

/* hero section */
.hero{
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-left: 0;
    padding: 0 2rem;

    color: #5D737E;
}

.hero > p{
    color: #2e2e2e;
    max-width: 90%;
}

/* home sections */
.home-sections{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 2rem;
}
.reverse{
    flex-direction: column;
}
.home-sections > img{
    width: 90dvw;
    height: 40vh;
}

.home-sections-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width:90dvw;
    gap: 2rem;
}
}



