*{
    padding: 0;
    margin: 0;
}

/* hero section */
.hero{
    background-image: url('../../assets/images/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85dvh;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    padding-left: 5rem;

    font-size: 1.5rem;
    color: #5D737E;
}

.hero > p{
    color: #2e2e2e;
    max-width: 50%;
}

.home-hero-links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero-btn{
    text-decoration: none;
    background-color: #5D737E;
    padding: 0.3rem 1rem;
    color: white;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}
.hero-btn:hover{
    background-color: #D9A678;
    color: #5D737E;
}

.hero-about-btn{
    color: #5D737E;
    background-color: transparent;
    border: 2px solid #5D737E;
}
.hero-about-btn:hover{
    color: #5D737E;
    background-color: #D9A678;
    border: 2px solid #D9A678;
}


/* about us section */
.about-us{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.about-us > img{
    height: 75vh;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 30vw;
    gap: 3rem;

}